<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNet.ScriptManager.jQuery" version="3.3.1" targetFramework="net461" />
  <package id="bootstrap" version="4.3.1" targetFramework="net461" />
  <package id="ClosedXML" version="0.94.2" targetFramework="net461" />
  <package id="ClosedXML.Extensions.AspNet" version="0.2.2" targetFramework="net461" />
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net461" />
  <package id="ExcelNumberFormat" version="1.0.5" targetFramework="net461" />
  <package id="FastMember" version="1.4.1" targetFramework="net461" />
  <package id="FastMember.Signed" version="1.4.1" targetFramework="net461" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net461" />
  <package id="jQuery" version="3.4.0" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.10.0" targetFramework="net461" developmentDependency="true" />
  <package id="popper.js" version="1.14.3" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.Packaging" version="4.5.0" targetFramework="net461" />
</packages>